.global{
    align-content: center;


}
.etoile1{
    margin-left: 0px;
    margin-right: 30px;
    width: 50px;
}
.etoile2{
   
    margin-right: 30px;
    opacity: 60%;
    width: 50px;
}
.etoile3{
    width: 50px;
    margin-right: 30px;
    opacity: 60%;
}
.etoile4{
    width: 50px;
    margin-right: 30px;
    opacity: 60%;
}
.etoile5{
    width: 50px;
    margin-right: 30px;
    opacity: 60%;
}
.etoile6{
    width: 50px;
    margin-right: 30px;
    opacity: 60%;
}
.etoile7{
    width: 50px;
    margin-right: 30px;
    opacity: 60%;
}
.etoile8{
    width: 50px;
    margin-right: 30px;
    opacity: 60%;
}
.etoile9{
    width: 50px;
    margin-right: 30px;
    opacity: 60%;
}
