.quizContainer {
    background-color: rgba(255, 255, 255, 1);
    padding: 9px 75px 114px;
    width: 373px;
  }
  
  .taskItem {
    margin-bottom: 10px;
  }
  
  .subtaskItem {
    margin-left: 20px;
  }
  
  @media (max-width: 768px) { /* Tablettes */
    .quizContainer {
      width: 90%; /* Prend la majorité de l'espace */
      padding: 10px 20px; /* Ajuste les marges */
    }
  
    .taskItem {
      margin-bottom: 15px; /* Augmente l'espacement pour améliorer la lisibilité */
    }
  
    .subtaskItem {
      margin-left: 10px; /* Réduit l'indentation pour les petits écrans */
    }
  }
  
  @media (max-width: 480px) { /* Mobiles */
    .quizContainer {
      width: 100%; /* Utilise toute la largeur disponible */
      padding: 10px 5px; /* Réduit les marges */
    }
  
    .taskItem {
      margin-bottom: 12px; /* Ajuste légèrement l'espacement */
    }
  
    .subtaskItem {
      margin-left: 5px; /* Réduit encore l'indentation */
    }
  }
  